body {
    background-image: url("./Resources/pexels-elijah-o\'donnell-3473569.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
}
.head {
    display: flex;
    justify-content: center;
}

.buttstyle {
    background-color: transparent;
    color: gold;
    border-color: transparent;
    font-size: 40px;
    font-family: 'Crimson Text', serif;
}
h1 {
    color: gold;
    padding: 30px;

}

.flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.margin30{
    margin: 30px;
}

.align-items-center {
    align-items: center;
}
input[type=text], select, textarea {
    font-family: 'Crimson Text', serif;;
    font-size: 20px;
    color: #B678D1;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkolivegreen;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
    color: darkolivegreen;
    
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:black;
    padding: 20px;
    margin: auto;
    width: 400px;
    height: auto;
  }

  label {
      font-family: 'Crimson Text', serif;
      font-size: 20px;
      color: white;
  }

  .returnhome{
      background-color: transparent;
      font-family: 'Crimson Text', serif;
      font-size: 30px;
      color: gold;
      border-color: transparent;
  }