body {
    background-image: url("./Resources/pexels-elijah-o\'donnell-3473569.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
}
.head {
    display: flex;
    justify-content: center;
}

.buttstyle {
    background-color: transparent;
    color: gold;
    border-color: transparent;
    font-size: 40px;
    font-family: 'Crimson Text', serif;
}
h1 {
    color: gold;
    padding: 30px;

}

.flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
